<h1>
    welcome
</h1>
<P1>
    welcome to the google login
</P1>
<p2>
    post stroires form the best It is simply not possible for everyone to come up with the right kind of words to use in
    a welcome speech. It is something that one has to plan and think about so that the right tone is set for the person
    you are welcoming to make his or her speech.
</p2>
<br>
<a class="btn secondary-1" href="/auth/google"><i class="fa ga-google left"></i>Login with google</a>